<table>
  <tr>
    <th>Course</th>
    <th>Logged Hours</th>
    <th>Completed?</th>
    <th>Date</th>
    <% if current_user.admin? %>
      <th>Username</th>
    <% end %>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.name, course_path(course) %></td>
      <td><%= course.time_spent %></td>
      <td><%= course.completed ? "Yes" : "No" %></td>
      <td><%= course.date %></td>
      <% if current_user.admin? %>
        <td><%= course.student_username %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th>Your Total Hours</th>
    <td><%= @student_total %></td>
  </tr>
  <tr>
    <th>Incomplete Courses</th>
    <td><%= @student_incompleted %></td>
  </tr>
  <tr>
    <th>Total Courses Completed</th>
    <td><%= @student_completed %> of <%= @courses.course_completed %></td>
  </tr>
</table>
<p><%= link_to 'Add New Course', new_course_path %></p>