<ul>
  <%= link_to "Back to Courses", courses_path, class: "submit_button" %>
</ul>
<h2><%= @course.name %></h2>
<table id="students">
  <tr>
    <th>Course</th>
    <th>Time Spent</th>
    <th>Completed?</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>
      <%= @course.name %>  
      <%= link_to "Edit Course", edit_course_path, class: "button" %>
    </td>
    <td><%= @course.time_spent %></td>
    <td><%= @course.completed ? "Yes" : "No" %></td>
    <td><%= @course.date %></td>
  </tr>
</table>
<br>
<table id="students">
  <tr>
    <th>Notes/Comments</th>
  </tr>
  <tr>
    <td>
      <ul>
        <%= render @course.comments %>
      </ul>
      <ul>
        <%= render "comments/form" %>
      </ul>
    </td>
  </tr>
</table>
<ul>
  <%= link_to "Delete #{@course.name}", course_path(@course), method: :delete, data: {confirm: "Are you sure you want to delete #{@course.name}?"}, class: "submit_button" %>
</ul>