<!DOCTYPE html>
<html>
  <head>
    <title>Gradstat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="<%= root_url %>"/>Home</a></li>
        <% if current_user %>
          <% if current_user.admin? %>
            <li><%= link_to "ADMIN #{current_user.username} Profile", student_path(current_user) %></li>
          <% else %>
            <li><%= link_to "#{current_user.username} Profile", student_path(current_user) %></li>
          <% end %>
            <li><%= link_to "Course Log", courses_path %></li>
            <li><%= link_to "Compare Chart", charts_path %></li>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign Up", new_student_path %></li>
            <li><%= link_to "Log In", login_path %></li>
            <li><%=link_to "Login via Facebook", student_facebook_omniauth_authorize_path %></li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
